﻿@using Shield.Models.ViewModels
@helper DetermineInput(StoredProcedureParameter parameter)
{
    <h1>Test</h1>
    switch (parameter.ParameterDataType)
    {
        case "int":
            <input type="number" step="1" id="@parameter.ParameterName" name="@parameter.ParameterName" />
            break;
        case "varchar":
        case "nvarchar":
            <input type="text" id="@parameter.ParameterName" name="@parameter.ParameterName" />
            break;
        case "date":
            <input type="date" id="@parameter.ParameterName" name="@parameter.ParameterName" />
            break;
        case "datetime":
            <input type="datetime" id="@parameter.ParameterName" name="@parameter.ParameterName" />
            break;
        default:
            break;
    }
}