﻿@model Shield.Models.ViewModels.GetResultViewModel

<h1>Results</h1>
@Html.ActionLink("Back to Stored Procedures", "StoredProcedures")
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            @foreach(var header in Model.Headers)
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(var row in Model.Data)
        {
        <tr>
            @foreach(var datum in row)
            {
            <td>@datum</td>
            }
        </tr>
        }
    </tbody>
</table>
