﻿@model  Shield.Models.ViewModels.RunStoredProcedureViewModel
@using Shield.Models.ViewModels

<h1>Stored Procedures</h1>
@using (Html.BeginForm("StoredProcedures", "Home", FormMethod.Get, new { @class = "form-horizontal" }))
{
    if (Model.StoredProcedures != null)
    {
        @* TODO: use @Html.DropDownListFor(...) instead*@
        <div class="form-group">
            <label class="control-label col-sm-2">Stored Procedure</label>
            <div class="col-sm-5">
                <select class="form-control" name="storedProcedure" id="storedProcedure">
                    <option value="">Select One</option>
                    @* TODO: move this logic to controller as a private method or create a service. *@

                    @foreach (var e in Model.StoredProcedures)
                    {
                        <option value="@e">@e</option>
                    }

                </select>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Select</button>
    }
    else
    {
        <p>Could not retrieve StoredProcedures from Deltek</p>
    }
}

@if (Model.SelectedStoredProcedure != null)
{
    @*TODO: Create form asking for parameters based on what is needed.*@
    <h3>Stored Procedure @Model.SelectedStoredProcedure has been selected</h3>
}

@if (Model.Parameters != null)
{
    using (Html.BeginForm("GetResult", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <input type="hidden" value="@Model.SelectedStoredProcedure" id="SelectedStoredProcedure" name="SelectedStoredProcedure" />
        for (var i = 0; i < Model.Parameters.Count(); i++)
        {
        <div class="form-group">
            @Html.HiddenFor(m => m.Parameters[i].ParameterId)
            @Html.HiddenFor(m => m.Parameters[i].ParameterName)
            @Html.HiddenFor(m => m.Parameters[i].ParameterDataType)
            <label class="control-label col-sm-2">@Model.Parameters[i].ParameterName</label>
            <div class="col-sm-4">
                @switch (Model.Parameters[i].ParameterDataType)
                {
                    case "int":
                        @Html.TextBoxFor(m => m.Parameters[i].ParameterValue, new { @type = "number", @step = 1, @placeholder = "number", @class = "form-control" })
                        break;
                    case "varchar":
                    case "nvarchar":
                        @Html.TextBoxFor(m => m.Parameters[i].ParameterValue, new { @type = "text", @placeholder = "text", @class = "form-control" })
                        break;
                    case "date":
                        @Html.TextBoxFor(m => m.Parameters[i].ParameterValue, new { @type = "date", @placeholder = "date", @class = "form-control" })
                        break;
                    case "datetime":
                    case "datetime2":
                        @Html.TextBoxFor(m => m.Parameters[i].ParameterValue, new { @type = "datetime", @placeholder = "datetime", @class = "form-control" })
                        break;
                    default:
                        break;
                }
            </div>
        </div>
        }
            
            <button class="btn btn-primary" type="submit">Run Query</button>
        }
    }

